.searchInputWrapper {
    display: flex;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 5px;
    width: 100%;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    .searchInputItem {
        flex-grow: 1;
    }

    .searchInput {
        border: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .selectedItems {
        background-color: var(--primary-color);
        padding: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        font-size: 0.8em;

        .selectedItemsButton {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: var(--secondary-color);
            padding: 0;
        }
    }
}


.searchItems {
    list-style-type: none;
    background-color: var(--background-color-light);
    border-bottom: 1px solid var(--border-color-light);

    .searchItemsButton {
        padding: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 100%;
    }
}