.listItem {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    .listItemImage {
        width: 48px;
        height: 48px;
        border-radius: var(--border-radius-sm);
        background-color: var(--primary-color);
    }

    .listItemContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2px;

        .listItemText {
            color: var(--text-color);
        }
    }


}